In [3]:
import pandas as pd
import numpy as np

In [5]:
props=['age','nb enfants']
noms=['Ali','Sonia']
X=np.array([[30,2],[40,3]])
df=pd.DataFrame(X,columns=props,index=noms)
df

       age  nb enfants
Ali     30           2
Sonia   40           3

In [13]:
type(df[['age']])

pandas.core.frame.DataFrame

In [14]:
type(df['age'])

pandas.core.series.Series

In [18]:
df.loc[['Ali','Sonia'],:]

       age  nb enfants
Ali     30           2
Sonia   40           3